:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app:hover{
  /* filter: drop-shadow(radial-gradiant(50% 50%, 100%, #0000 0%, #0000 100%)); */
  /* border: 10px solid red; */
}

.logo:hover {
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

